<div class="card-unificada">
  <div class="header-card">
    <h3 class="titulo-seccion">Mi Cuenta</h3>
  </div>

  <div class="divisor"></div>

  <div class="contenido-card">
    <div class="acciones-list">
      <div class="accion" (click)="cambiarPassword()">
        <i class="fa-solid fa-key icon"></i>
        <p>Cambiar mi contraseña</p>
      </div>

      <div class="accion" (click)="cerrarSesion()">
        <i class="fa-solid fa-right-from-bracket icon"></i>
        <p>Cerrar sesión</p>
      </div>

      <div class="accion accion-roja" (click)="eliminarCuenta()">
        <i class="fa-solid fa-user-slash icon icon-rojo"></i>
        <p>Eliminar mi cuenta</p>
      </div>
    </div>
  </div>
</div>
