<button type="button" class="btn-icon-circle btn-close-modal" (click)="cerrarModal()">
  <i class="fa-solid fa-xmark"></i>
</button>
<form class="form-vianda" [formGroup]="formVianda">
  <div class="form-layout">
    <div class="form-fields-left">
      <!-- Nombre Vianda -->
      <div class="form-field">
        <label for="nombreVianda" class="form-label">Nombre de la Vianda</label>
        <input
          formControlName="nombreVianda"
          type="text"
          class="form-input"
          placeholder="Ej: Milanesa con puré"
        />

        @if (formVianda.get('nombreVianda')?.invalid && (formVianda.get('nombreVianda')?.dirty ||
        formVianda.get('nombreVianda')?.touched)) {
        <div class="error-messages">
          @if (formVianda.get('nombreVianda')?.hasError('required')) {
          <p>El nombre es obligatorio.</p>
          } @if (formVianda.get('nombreVianda')?.hasError('maxLength')) {
          <p>Máximo 255 caracteres.</p>
          }
        </div>
        }
      </div>

      <!-- Categoria -->
      <div class="form-field">
        <label for="categoria" class="form-label">Categoría</label>

        <select
          formControlName="categoria"
          class="form-input"
          [class.placeholder-text]="formVianda.get('categoria')?.value === null"
        >
          <!-- Aplicamos la clase "placeholder-option" solo a esta opción -->
          <option [ngValue]="null" class="placeholder-option">-- Seleccionar --</option>

          @for (cat of categorias; track cat.key) {
          <!-- Las demás opciones NO deben tener la clase -->
          <option [value]="cat.key">{{ cat.label }}</option>
          }
        </select>

        @if (formVianda.get('categoria')?.invalid && (formVianda.get('categoria')?.dirty ||
        formVianda.get('categoria')?.touched)) {
        <div class="error-messages">
          @if (formVianda.get('categoria')?.hasError('required')) {
          <p>Debe seleccionar una categoría.</p>
          }
        </div>
        }
      </div>

      <!-- Descripcion -->
      <div class="form-field">
        <label for="descripcion" class="form-label">Descripción</label>
        <textarea
          formControlName="descripcion"
          class="form-input textarea-descripcion"
          placeholder="Ej: Porción abundante con guarnición"
          maxlength="250"
        ></textarea>

        @if (formVianda.get('descripcion')?.invalid && (formVianda.get('descripcion')?.dirty ||
        formVianda.get('descripcion')?.touched)) {
        <div class="error-messages">
          @if (formVianda.get('descripcion')?.hasError('required')) {
          <p>La descripción es obligatoria.</p>
          } @if (formVianda.get('descripcion')?.hasError('maxLength')) {
          <p>Máximo 250 caracteres.</p>
          }
        </div>
        }
      </div>

      <!-- Precio -->
      <div class="form-field">
        <label for="precio" class="form-label">Precio</label>
        <input formControlName="precio" type="number" class="form-input" placeholder="Ej: 3500" />

        @if (formVianda.get('precio')?.invalid && (formVianda.get('precio')?.dirty ||
        formVianda.get('precio')?.touched)) {
        <div class="error-messages">
          @if (formVianda.get('precio')?.hasError('required')) {
          <p>El precio es obligatorio.</p>
          } @if (formVianda.get('precio')?.hasError('min')) {
          <p>Debe ser mayor a 0.</p>
          }
        </div>
        }
      </div>

      <!-- Checkboxes -->
      <div class="form-field checkbox-group">
        
        <label class="form-label">Características</label>
        
        <div class="diet-chips-container">
          
          <label class="chip-checkbox">
            <input type="checkbox" formControlName="esSinTacc" />
            <span class="chip-label">
              <app-icon-tacc class="custom-icon"></app-icon-tacc> 
              Sin TACC
            </span>
          </label>

          <label class="chip-checkbox">
            <input type="checkbox" formControlName="esVegetariano" />
            <span class="chip-label">
              <app-icon-veggie class="custom-icon"></app-icon-veggie> 
              Vegetariano
            </span>
          </label>

          <label class="chip-checkbox">
            <input type="checkbox" formControlName="esVegano" />
            <span class="chip-label">
              <app-icon-vegan class="custom-icon"></app-icon-vegan> 
              Vegano
            </span>
          </label>

        </div>
      </div>

    </div>

    <!-- Imagen -->
    <div class="image-upload-right">
      <div class="form-field custom-file-field">
        <input
          type="file"
          id="imagen-file"
          #fileInput
          (change)="onFileSelected($event); onFileInputReady(fileInput)"
          class="form-file-input"
          accept="image/jpeg, image/png, image/webp"
        />

        <label for="imagen-file" class="upload-box-visual" [class.has-preview]="!!imagePreviewUrl">
          @if (imagePreviewUrl) {

          <div
            class="image-preview"
            [style.background-image]="'url(' + imagePreviewUrl + ')'"
          ></div>

          <button
            type="button"
            class="btn-remove-image"
            (click)="removeImage(); $event.preventDefault()"
          >
            <i class="fa-solid fa-trash"></i>
          </button>

          } @else {
          <span class="upload-icon">⤒</span>
          <br />
          <span class="upload-text">Cargar imagen</span>
          }
        </label>

        <div class="image-placeholder-message">
          @if (formVianda.get('image')?.invalid && (formVianda.get('image')?.dirty ||
          formVianda.get('image')?.touched)) {
          <div class="error-messages">
            @if (formVianda.get('image')?.hasError('required')) {
            <p>La imagen es obligatoria.</p>
            } @else if (formVianda.get('image')?.value === null && selectedFileName === null) {
            <p>
              La imagen seleccionada no cumple los requisitos (ej: dimensión máxima) o fue
              eliminada.
            </p>
            }
          </div>
          } @else if (!imagePreviewUrl) {
          <p class="placeholder-info">
            No hay un archivo seleccionado. Formatos válidos: jpg, webp, etc
          </p>
          } @else {
          <p class="success-message">Archivo cargado: {{ selectedFileName }}</p>
          }
        </div>
      </div>
    </div>
  </div>

  <button
    type="button"
    class="btn btn-crear"
    (click)="onSubmit()"
    [disabled]="loading || !formVianda.valid"
  >
    {{ loading ? 'Guardando...' : 'Crear Vianda' }}
  </button>
</form>
