<div class="modal-container">
  <div class="modal-title">
    {{ vianda.nombreVianda }}
  </div>

  <div class="modal-content">
    <div class="left-panel">
      <div>
        <label>Categoría</label>
        <p>{{ vianda.categoria }}</p>
      </div>

      <div>
        <label>Descripción</label>
        <p>{{ vianda.descripcion }}</p>
      </div>

      <div>
        <label>Precio</label>
        <p class="precio">${{ vianda.precio }}</p>
      </div>

      <div class="restricciones">
        @if (vianda.esVegano) {
        <app-icon-vegan class="icon active" title="Vegano"></app-icon-vegan>
        } @if (vianda.esVegetariano) {
        <app-icon-veggie class="icon active" title="Vegetariano"></app-icon-veggie>
        } @if (vianda.esSinTacc) {
        <app-icon-tacc class="icon active" title="Sin TACC"></app-icon-tacc>
        }
      </div>

      <div class="modal-actions">
        <button class="btn" (click)="irAlEmprendimiento()">Ver emprendimiento</button>
      </div>
    </div>

    <div class="right-panel">
      <img [src]="vianda.imagenUrl" alt="vianda.nombreVianda" />
    </div>
  </div>
</div>
