.modal-container {
  width: 95rem;
  max-width: 95rem;
  border-radius: 2rem;
  overflow: hidden;
  background: var(--bg-color);
  font-family: 'Inria Sans', sans-serif;
}

.modal-title {
  font-size: 3rem;
  font-weight: bolder;
  margin: 0;
  padding: 2rem 3rem;
  background: var(--emprendimiento-card-header-bg);
  color: var(--inverse-text-color);
}

.modal-content {
  display: flex;
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  color: var(--text-color);
}

.left-panel {
  padding: 3rem 4rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.left-panel label {
  font-size: 1.8rem;
  text-transform: uppercase;
  color: var(--text-color);
  margin-bottom: 0.4rem;
}

.left-panel p {
  font-size: 1.5rem;
  margin: 0;
  line-height: 2.2rem;
}

.precio {
  color: var(--precio-color);
  font-weight: bold;
}

.restricciones {
  display: flex;
  gap: 1.4rem;
  min-height: 4rem;
  align-items: center;
}

.restriccion,
.icon {
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-panel {
  width: 45%;
  min-width: 42rem;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #00000005;
}

.right-panel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.modal-actions {
  padding: 2rem 3rem;
  display: flex;
  justify-content: center;
}

.btn {
  padding: 1.4rem 2.8rem;
  font-size: 2rem;
  font-weight: bold;
}

.btn:hover {
  background: color-mix(in srgb, var(--emprendimiento-card-header-bg) 90%, black);
}
