<h2 mat-dialog-title cdkFocusInitial>
  {{ vianda.nombreVianda }}
</h2>

<mat-dialog-content>
  <div class="left-panel">
    <div>
      <label>Categoría</label>
      <p>{{ vianda.categoria }}</p>
    </div>

    <div>
      <label>Descripción</label>
      <p>{{ vianda.descripcion }}</p>
    </div>

    <div>
      <label>Precio</label>
      <p class="precio">${{ vianda.precio }}</p>
    </div>

    <div class="restricciones">
      @if (vianda.esVegano) {
      <div class="restriccion active">
        <img src="vegan.png" alt="Vegano" />
      </div>
      } @if (vianda.esVegetariano) {
      <div class="restriccion active">
        <img src="vegetarian.png" alt="Vegetariano" />
      </div>
      } @if (vianda.esSinTacc) {
      <div class="restriccion active">
        <img src="stacc.png" alt="Sin TACC" />
      </div>
      }
    </div>

    <mat-dialog-actions>
      <button class="btn" (click)="irAlEmprendimiento()">Ver emprendimiento</button>
    </mat-dialog-actions>
  </div>

  <div class="right-panel">
    <img [src]="vianda.imagenUrl" alt="vianda.nombreVianda" />
  </div>
</mat-dialog-content>
