h1{
font-size: 3rem;
margin: 3rem auto;
text-align: center;
}

.card-crear {
  background: var(--form-bg);
  border-radius: 1.5rem;
  box-shadow: var(--form-shadow);
  width: 80%;
  margin: 3rem auto;
  padding: 4rem 2rem;
  cursor: pointer;
  transition: 0.25s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.card-crear:hover {
  background-color: #dcdcdc;
}

.card-crear i {
  font-size: 4rem;
  color: var(--link-color);
}

.card-crear span {
  font-size: 1.7rem;
  font-weight: bold;
  color: var(--text-color);
}

.estado-vacio {
  width: 100%;
  text-align: center;
  margin-top: 2rem;
  color: var(--input-text);
  font-size: 1.8rem;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.estado-vacio i {
  font-size: 3rem;
  color: var(--link-color);
  animation: rebote 1.2s infinite;
}

@keyframes rebote {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-6px);
  }
  100% {
    transform: translateY(0);
  }
}
