.card-crear {
  width: 80%;
  margin: 3rem auto;
  padding: 4rem 2rem;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: #ffffff;
  border: 3px dashed #d1d5db;
  color: #9ca3af;
}

.card-crear:hover {
  border-color: #ff9f43;
  color: #ff9f43;
  background-color: #fff7ed;
  transform: translateY(-4px);
}

.card-crear i {
  font-size: 4rem;
}

.card-crear span {
  font-size: 1.7rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.estado-vacio {
  width: 100%;
  text-align: center;
  margin-top: 2rem;
  color: var(--input-text);
  font-size: 1.8rem;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
}

.estado-vacio i {
  font-size: 3rem;
  color: var(--link-color);
  animation: rebote 1.2s infinite;
}

@keyframes rebote {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-6px);
  }
  100% {
    transform: translateY(0);
  }
}
