<div class="contenedor-home">
  <div class="card-crear" routerLink="/crear-emprendimiento">
    <i class="fa-solid fa-plus"></i>
    <span>Agrega un emprendimiento</span>
  </div>

  @if (emprendimientos().length > 0) { @for (emprendimiento of emprendimientos(); track
  emprendimiento.id) {
  <app-emprendimiento-card [emprendimiento]="emprendimiento"></app-emprendimiento-card>
  } } @if (emprendimientos().length === 0) {
  <div class="estado-vacio">
    <p>Esto está un poco vacío... deberías crear un emprendimiento</p>
    <i class="fa-solid fa-arrow-up"></i>
  </div>
  }
</div>
