/*REVISAR no se por que se ve ese espacio blanco entre img e info ni como sacarlo*/

.vianda-card {
  width: 24rem;
  height: 24rem;
  border-radius: 1rem;
  box-shadow: var(--vianda-card-shadow);
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: 0.15s ease;
  overflow: hidden;
}

.vianda-card:hover {
  transform: scale(1.02);
}

.img-container {
  width: 100%;
  flex-grow: 1;
  overflow: hidden;
  margin: 0;
  padding: 0; 
  border: none;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.info-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--emprendimiento-card-header-bg);
  margin: 0;
  padding: 1rem 1.2rem;
  border-radius: 0;
  flex-shrink: 0;
}


.info-bottom span {
  font-size: 1.6rem;
  font-weight: bold;
}

.nombre {
  color: var(--text-color);
  text-align: left;
  max-width: 70%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.precio {
  color: var(--inverse-text-color);
  text-align: right;
}