.vianda-card {
  width: 20rem;
  height: 20rem;
  background: white;
  border-radius: 1rem;
  box-shadow: var(--vianda-card-shadow);
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  cursor: pointer;
  transition: 0.15s ease;
}

.vianda-card:hover {
  transform: scale(1.03);
  box-shadow: var(--vianda-card-shadow)
}

.img {
  width: 100%;
  object-fit: cover;
  border-radius: 0.9rem;
}

h3 {
  font-size: 1.4rem;
  font-weight: bold;
  margin: 0;
}

.precio {
  font-size: 1.4rem;
  color: var(--precio-color);
  font-weight: bold;
  margin: 0;
}
