<header class="main-header">
  <nav class="header-nav">

    <div class="header-left">
      <a routerLink="/home">
        <img src="logo-miviandita-removebg-preview.png" alt="MiViandita Logo" class="header-logo" />
      </a>

      @if (role() === 'DUENO') {
        <span class="owner-tag">Menu Dueño</span>
      }
      @else {
        <!-- NO IMPLEMENTADO EN CSS -->
        @if (role() === 'ADMIN') {
          <span class="admin-tag">Menu Admin</span>
        }
      }

      <app-city-selector></app-city-selector>
    </div>

    <div class="header-center">
      <app-search-bar></app-search-bar>
    </div>

    <div class="header-right">
      <a routerLink="/home" class="nav-link">HOME</a>
      <a routerLink="/sobre-nosotros" class="nav-link">SOBRE NOSOTROS</a>

      <!-- Botones condicionales -->

      @if (!isLoggedIn()) {
        <!-- Invitado -->
        <button routerLink="/login" (click)="onLogin()" class="btn btn-primary">
          Iniciar Sesión
        </button>
      } @else {
        <!-- Clientes o Dueño -->

        <div class="btns-logged">
          <app-dropdown-notificacion></app-dropdown-notificacion>

          <button class="btn btn-profile" routerLink="/me" title="Mi perfil">
            <i class="fa-regular fa-user"></i>
          </button>

          <button class="btn btn-logout" (click)="onLogout()" title="Cerrar sesión">
            <i class="fa-solid fa-right-from-bracket"></i>
          </button>
        </div>
      }
    </div>
  </nav>
</header>
