.main-header {
    background-color: var(--bg-color);
    border-bottom: 1px solid #e5e7eb;
    box-shadow: 0 0.4rem 0.6rem -0.1rem rgba(0, 0, 0, 0.1), 0 0.2rem 0.4rem -0.2rem rgba(0, 0, 0, 0.1);
    color: var(--text-color);
    position: sticky;
    top: 0;
    z-index: 50;
}

.main-header .header-nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    max-width: 128rem;
    min-height: 4rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

/* Header left */
.main-header .header-nav .header-left {
    align-items: center;
    display: flex;
    gap: 1rem;
}

.main-header .header-nav .header-left .header-logo {
    flex-shrink: 0;
    height: 2.5rem;
    width: auto;
}

.main-header .header-nav .header-left .role-tag {
    font-size: 1.7rem;
    font-weight: bolder;
    padding: 1rem 2rem;
}

.main-header .header-nav .header-left .role-tag .owner-tag {
    background-color: #fef3c7;
    border: 1px solid #fcd34d;
    color: #b45309; 
    padding: 0.2rem;
} 

/* Header Right */
.main-header .header-nav .header-right {
    align-items: center;
    display: flex;
    gap: 2rem;
}

.main-header .header-nav .header-right .nav-link {
    color: black; 
    font-size: 1.5rem;
    padding: 0.5rem 0.75rem;
    transition: color 0.3s ease;
    text-decoration: none;
}

.main-header .header-nav .header-right .nav-link:hover {
    color: #e07b3d;
    text-decoration: underline;
}

.btn {
    display: flex;
    font-size: 1.4rem;
    gap: 0.25rem;
    font-weight: 500;
    padding: 0.5rem 1rem;
}
