.main-header {
    align-items: center;
    background-color: var(--bg-color);
    border-bottom: 1px solid #e5e7eb;
    box-shadow: 0 0.4rem 0.6rem -0.1rem rgba(0, 0, 0, 0.1), 0 0.2rem 0.4rem -0.2rem rgba(0, 0, 0, 0.1);
    color: var(--text-color);
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 50;
}

.header-nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    min-height: 5rem;
    padding: 0.125rem 5%;
    width: 100%;
}

/* Izquierda =============================================================== */

.header-left {
    align-items: center;
    display: flex;
    flex: 1;
    gap: 2rem;
    justify-content: left;
}

.header-logo {
    aspect-ratio: 1/1;
    height: 4rem;
}

.admin-tag, .owner-tag {
    font-size: 1.7rem;
    font-weight: bolder;
    padding: 1rem 2rem;
}

.owner-tag {
    background-color: #fef3c7;
    border: 1px solid #fcd34d;
    color: #b45309; 
    padding: 0.2rem;
} 

/* Centro ================================================================== */

.header-center {
    align-items: center;
    flex: 3;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* Derecha ================================================================= */

.header-right {
    align-items: center;
    flex: 2;
    display: flex;
    gap: 2.5rem;
    justify-content: right;
}

.nav-link {
    color: black; 
    font-size: 1.5rem;
    padding: 0;
    transition: color 0.3s ease;
    text-decoration: none;
}

.nav-link:hover {
    color: #e07b3d;
    text-decoration: underline;
}

.btns-logged {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
}

.btn {
    align-items: center;
    display: flex;
    flex-direction: row;
    font-size: 1.6rem;
    font-weight: 500;
    justify-content: center;
    margin: 0;
    min-width: 3rem;
    padding: 0;
}

.btn-profile {
    aspect-ratio: 1/1;
    border-radius: 50%;
    color: var(--bg-color);
    height: 4rem;
}

.btn-logout {
    background-color: inherit;
    color: var(--header-btn-logout-color);
    font-size: 2rem;
}
