.filtros-container {
  width: 80%;
  margin: 1rem auto 3rem auto;
}

/* -------- CATEGORIAS -------- */

.categorias-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 2rem;
  justify-content: center;
}

.chip-categoria {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: none;
  border-radius: 1rem;
  padding: 1.2rem 3.2rem;
  font-family: inherit;
  font-size: 1.1rem;
  font-weight: 600;
  color: #777;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  user-select: none;
}

.chip-categoria:hover {
  background-color: #f9f9f9;
  color: #333;
}

.chip-categoria.active {
  background-color: #ffdab9;
  border-color: #ffdab9;
  color: #4a3b32;
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.12);
  transform: translateY(1px);
}

/* -------- FILTROS INFERIORES -------- */

.controles-bottom {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
  width: 95%;
  margin: 0 auto;
}

/* -------- BUSCADOR -------- */

.search-box {
  position: relative;
  flex: 1;
  min-width: 20rem;
  max-width: 50rem;

  border: 1px solid #e0e0e0;
  border-radius: 50px;
  background-color: white;

  display: flex;
  align-items: center;
  transition: all 0.3s ease;
}

.search-box:focus-within,
.search-box.filled {
  border-color: #ff9f43;
  box-shadow: 0 0 0 2px rgba(255, 159, 67, 0.1);
}

.search-box .fa-magnifying-glass {
  position: absolute;
  left: 1.8rem;
  top: 50%;
  transform: translateY(-50%);

  color: #ccc;
  font-size: 1.8rem;
  pointer-events: none;
  transition: color 0.3s ease;
}

.search-box:focus-within .fa-magnifying-glass,
.search-box.filled .fa-magnifying-glass {
  color: #ff9f43;
}

.search-box input {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;

  padding: 1rem 4.5rem 1rem 5rem;

  font-family: inherit;
  font-size: 1.4rem;
  color: #555;
}

.search-box input:focus::placeholder {
  opacity: 0;
  transition: opacity 0.2s ease;
}

.search-box input::placeholder {
  color: #ccc;
  font-weight: 300;
  transition: opacity 0.2s ease;
}

.close-icon {
  position: absolute;
  right: 1.8rem;
  top: 50%;
  transform: translateY(-50%);

  font-size: 1.4rem;
  color: #ccc;
  cursor: pointer;

  opacity: 0;
  pointer-events: none;
  transition: all 0.2s ease;
  z-index: 10;
}

.search-box.filled:hover .close-icon,
.search-box.filled:focus-within .close-icon {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(-50%) rotate(0deg);
}

.close-icon:hover {
  color: var(--button-bg);
}

/* -------- BOTONES DE DIETA -------- */

.dietary-icons {
  flex: 1;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.icon-btn {
  background: white;
  border: none;
  border-radius: 50%;
  width: 4.8rem;
  height: 4.8rem;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.icon-btn .icon {
  width: 70%;
  height: 70%;
}

.icon-btn.active .icon {
  color: var(--button-bg);
}

/* -------- PRECIOS -------- */

.price-inputs {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

.input-wrapper {
  position: relative;
  width: 14rem;
  border-radius: 5rem;
  border: 0.1rem solid #e0e0e0;
  background-color: white;
  border: 0.1rem solid #e0e0e0;
  transition: border-color 0.3s;

  display: flex;
  align-items: center;
}

.input-wrapper:focus-within {
  border-color: var(--button-bg);
}

.input-wrapper:focus-within,
.input-wrapper.filled {
  border-color: var(--button-bg);
}

.input-wrapper:focus-within .currency-symbol,
.input-wrapper.filled .currency-symbol {
  color: var(--button-bg);
}

.input-wrapper input {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-family: inherit;

  padding: 1rem 1rem 1rem 3rem;

  font-size: 1.4rem;
  color: #555;
  text-align: center;
}

/* Ocultar flechas (Chrome, Safari, Edge, Opera) */
.input-wrapper input::-webkit-outer-spin-button,
.input-wrapper input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.currency-symbol {
  position: absolute;
  left: 1.5rem;
  color: #ccc;
  transition: color 0.3s;
  font-size: 1.4rem;
  font-weight: bold;
  pointer-events: none;
}

.separator {
  color: #ccc;
  font-size: 2rem;
  font-weight: 300;
  user-select: none;
}

::placeholder {
  color: #ccc;
  font-weight: 300;
  opacity: 1;
}

.input-wrapper input:focus::placeholder {
  opacity: 0;
  transition: opacity 0.2s ease;
}
