<h2 class="titulo-rojo">Cambiar contraseña</h2>

<p class="texto">Actualice su contraseña ingresando los siguientes datos.</p>

<form [formGroup]="form">
  <!-- Contraseña actual -->
  <div class="form-field password-field">
    <label class="form-label">Contraseña actual</label>

    <div class="input-with-icon">
      <input
        formControlName="actual"
        [type]="showActual ? 'text' : 'password'"
        class="form-input"
        [class.invalid]="
          form.get('actual')?.invalid && (form.get('actual')?.touched || form.get('actual')?.dirty)
        "
        placeholder="Ingrese su contraseña actual"
      />

      <button type="button" class="toggle-eye" (click)="toggleActual()">
        <i class="fa-solid {{ showActual ? 'fa-eye-slash' : 'fa-eye' }}"></i>
      </button>
    </div>

    @if (form.get('actual')?.invalid && (form.get('actual')?.touched || form.get('actual')?.dirty))
    {
    <div class="error-messages">
      <p>La contraseña actual es obligatoria.</p>
    </div>
    }
  </div>

  <!-- Nueva contraseña -->
  <div class="form-field password-field">
    <label class="form-label">Nueva contraseña</label>

    <div class="input-with-icon">
      <input
        formControlName="nueva"
        [type]="showNueva ? 'text' : 'password'"
        class="form-input"
        [class.invalid]="
          form.get('nueva')?.invalid && (form.get('nueva')?.touched || form.get('nueva')?.dirty)
        "
        placeholder="Debe cumplir los requisitos de seguridad"
      />

      <button type="button" class="toggle-eye" (click)="toggleNueva()">
        <i class="fa-solid {{ showNueva ? 'fa-eye-slash' : 'fa-eye' }}"></i>
      </button>
    </div>

    @if (form.get('nueva')?.invalid && (form.get('nueva')?.touched || form.get('nueva')?.dirty)) {
    <div class="error-messages">
      @if (form.get('nueva')?.hasError('required')) {
      <p>La nueva contraseña es obligatoria.</p>
      } @if (form.get('nueva')?.hasError('pattern')) {
      <p>
        Debe tener entre 8 y 16 caracteres, una mayúscula, una minúscula, un número y un carácter
        especial.
      </p>
      }
    </div>
    }
  </div>

  <!-- Acciones -->
  <div class="acciones">
    <button type="button" class="btn btn-cancelar" (click)="cancelar()">Cancelar</button>
    <button type="submit" class="btn btn-rojo" [disabled]="form.invalid" (click)="actualizar()">Actualizar</button>
  </div>
</form>
