.card-container.skeleton {
  background: var(--form-bg);
  border-radius: 1.5rem;
  box-shadow: var(--form-shadow);
  width: 80%;
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 2rem;
  animation: pulse 1.2s infinite ease-in-out;
}

.info-skeleton {
  width: 100%;
  height: 8rem;
  background: #e0e0e0;
  border-radius: 1.5rem 1.5rem 0 0;
}

.viandas-container-skeleton {
  display: flex;
  gap: 2rem;
  padding: 2rem;
  overflow-x: auto;
}

.vianda-skeleton {
  width: 24rem;
  height: 24rem;
  background: #e0e0e0;
  border-radius: 1rem;
}

@keyframes pulse {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.6;
  }
}
