content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 80rem;
}

nav {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

h2 {
  font-size: 2.6rem;
  line-height: 2.6rem;
}

h3 {
  font-size: 2.1rem;
  line-height: 2.1rem;
}

details {
  font-size: 1.6rem;
}

details p {
  margin-left: 1rem;
}

summary {
  font-size: 2rem;
  line-height: 2rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

#tip {
  font-weight: normal;
}

.texto-con-separador {
  align-items: center;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.texto-con-separador::after {
  border-bottom: 2px dashed var(--color-text-primary);
  content: "";
  flex: 1;
  margin-left: 1rem;
}

#enlace-instructivo {
  font-size: 2.2rem;
  text-align: center;
}
