.main-container {
  width: 80%;
  margin: 4rem auto;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.perfil-layout {
  display: flex;
  gap: 2rem;
  align-items: stretch;
}

.col-izquierda {
  flex: 0 0 30%;
  display: flex;
}

.col-derecha {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  min-height: 40rem;
}

.fila-superior {
  display: flex;
  gap: 2rem;
}

.fila-inferior {
  flex: 1;
  display: flex;
}

.fila-superior > app-datos-usuario-card,
.fila-superior > app-panel-acciones-cuenta {
  flex: 1;
  display: block;
}

.fila-inferior > app-pedidos-card {
  flex: 1;
  display: block;
}
.col-izquierda app-notificaciones-card {
  height: 75rem;
}

.fila-inferior app-pedidos-card {
  height: 47.5rem;
}
