.main-container {
  width: 80%;
  margin: 4rem auto;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.titulo-perfil {
  font-size: 2.4rem;
  color: var(--link-color);
  display: flex;
  align-items: center;
  gap: 0.6rem;
  margin: 0;
}

.titulo-perfil span {
  font-size: 1.8rem;
  color: var(--text-color);
  font-weight: bold;
  letter-spacing: 0.05rem;
}

.perfil-layout {
  display: flex;
  gap: 2rem;
  align-items: stretch;
}

.col-izquierda {
  flex: 0 0 30%;
  display: flex;
}

.col-derecha {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  min-height: 40rem;
}

.fila-superior {
  display: flex;
  gap: 2rem;
}

.fila-inferior {
  flex: 1;
  display: flex;
}

.fila-superior > app-datos-usuario-card,
.fila-superior > app-panel-acciones-cuenta {
  flex: 1;
  display: block;
}

.fila-inferior > app-pedidos-card {
  flex: 1;
  display: block;
}
.col-izquierda app-notificaciones-card {
  height: 68rem;
}

.fila-inferior app-pedidos-card {
  height: 45rem;
}
