<div class="main-container">
  <h1 class="main-h1-title">MI PERFIL</h1>

  @if (usuario(); as u) {
  <div class="perfil-layout">
    @if (u.rolUsuario !== 'ADMIN') {
    <section class="col-notificaciones">
      <app-notificaciones-card></app-notificaciones-card>
    </section>
    }

    <section class="col-contenido" [class.full-width]="u.rolUsuario === 'ADMIN'">
      <div class="grid-superior">
        <app-datos-usuario-card [usuario]="u"></app-datos-usuario-card>
        <app-panel-acciones-cuenta></app-panel-acciones-cuenta>
      </div>

      @if (u.rolUsuario !== 'ADMIN') {
      <div class="seccion-pedidos">
        <app-pedidos-card></app-pedidos-card>
      </div>
      }
    </section>
  </div>
  }
</div>
