<h3 class="titulo-seccion">DATOS PERSONALES</h3>

<div class="datos-card">
  <div class="dato-container">
    <i class="fa-solid fa-user icon"></i>
    <p class="dato">{{ usuarioSignal().nombreCompleto }}</p>
  </div>

  <div class="dato-container">
    <i class="fa-solid fa-phone icon"></i>
    <p class="dato">{{ usuarioSignal().telefono }}</p>
  </div>

  <div class="dato-container">
    <i class="fa-solid fa-envelope icon"></i>
    <p class="dato">{{ usuarioSignal().email }}</p>
  </div>

  <i class="fa-solid fa-pen edit-icon" (click)="openUpdateModal()"></i>
</div>
