<h3 class="titulo-seccion">DATOS PERSONALES</h3>

<div class="datos-card">
  <div class="dato-container">
    <i class="fa-solid fa-user icon"></i>
    <p class="dato">{{ usuario.nombreCompleto }}</p>
  </div>

  <div class="dato-container">
    <i class="fa-solid fa-phone icon"></i>
    <p class="dato">{{ usuario.telefono }}</p>
  </div>

  <div class="dato-container">
    <i class="fa-solid fa-envelope icon"></i>
    <p class="dato">{{ usuario.email }}</p>
  </div>

  <i class="fa-solid fa-pen edit-icon"></i>
</div>
