<footer class="app-footer">
  <div class="footer-top">
    <section class="footer-brand-section">
      <a class="footer-logo-container" routerLink="/home">
        <img src="logo-miviandita-removebg-preview.png" alt="MiViandita-Logo" class="footer-logo" />
      </a>

      <div class="footer-name-container">
        <p class="footer-name">MiViandita</p>
        <p class="footer-eslogan">¡Tu vianda a un click!</p>
      </div>
    </section>

    <section class="footer-contact-info-section">
      <h3>Contacto</h3>

      <address>
        <p>Email: <a href="mailto:mivianditautn@gmail.com">mivianditautn@gmail.com</a></p>
        <p>Teléfono: <a href="tel:+5490001234567">+54 9 000 123-4567</a></p>
      </address>
    </section>

    <section class="footer-quick-links-section">
      <h3>Enlaces Rápidos</h3>

      <div class="footer-quick-links">
        <nav>
          <p><a routerLink="/reclamos">Realizar un Reclamo</a></p>
          <p><a routerLink="/instructivo">Instructivo de Uso</a></p>
        </nav>

        <nav>
          @if (esInvitado()) {
          <p><a routerLink="/registro/dueno">Registrate como Dueño</a></p>
          }

          <p><a routerLink="/normas-comunidad">Normas de la Comunidad</a></p>
          <p><a routerLink="/bases-condiciones">Bases y Condiciones</a></p>
        </nav>
      </div>
    </section>
  </div>

  <div class="footer-bottom">
    <span>&copy; MiViandita 2025</span>
    <span class="separador"> | </span>
    <span>Desarrollado por <a routerLink="/sobre-nosotros">MiViandita Team</a></span>
  </div>
</footer>
