.estado-vacio {
  width: 100%;
  text-align: center;
  margin-top: 2rem;
  color: var(--input-text);
  font-size: 1.8rem;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.estado-vacio i {
  font-size: 3rem;
  color: var(--link-color);
  animation: rebote 1.2s infinite;
}