/* --- COMPONENTE LISTADO DE PEDIDOS Y FILTROS --- */
:host {
  display: block;
  width: 100%;
  height: 100%;
}

.titulo-con-filtros {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  margin-bottom: 3rem;
}

.titulo-seccion {
  font-size: 2rem;
  color: var(--color-text-primary);
  margin: 0;
  font-weight: bold;
}

.filtros-layout {
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-wrap: nowrap;
}

.pedidos-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.pedidos-card {
  background: var(--color-background-secondary);
  border-radius: 1.2rem;
  box-shadow: var(--shadow-form);
  padding: 2.4rem;
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

.sin-pedidos {
  font-size: 2rem;
  color: var(--color-text-secondary);
  margin: 0;
  opacity: 0.8;
}

.lista {
  flex: 1;
  overflow-y: auto;
  padding-right: 0.6rem;
}

.select-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.select-label {
  font-size: 1.2rem;
  color: var(--color-text-secondary);
  opacity: 0.7;
  margin-left: 0.2rem;
  font-weight: 500;
}