<div class="modal-container">

  <!-- Header -->
  <div class="modal-header">
    <h2 class="modal-title">{{ vianda.nombreVianda }}</h2>
  </div>

  <div class="modal-body">

    <div class="left-panel">

        <!-- Categoría -->
        <div class="info-group">
          <label>Categoría</label>
          <p>{{ vianda.categoria }}</p>
        </div>

        <!-- Descripción -->
        <div class="info-group">
          <label>Descripción</label>
          <p class="descripcion-text">{{ vianda.descripcion }}</p>
        </div>

        <!-- Precio -->
        <div class="info-group">
          <label>Precio</label>
          <span class="precio-badge">$ {{ vianda.precio }}</span>
        </div>

        <!-- Iconos -->
        <div class="restricciones-container">
            @if (vianda.esVegano) {
              <div class="icon-badge" title="Vegano">
                <app-icon-vegan class="icon active"></app-icon-vegan>
              </div>
            }
            @if (vianda.esVegetariano) {
              <div class="icon-badge" title="Vegetariano">
                <app-icon-veggie class="icon active"></app-icon-veggie>
              </div>
            }
            @if (vianda.esSinTacc) {
              <div class="icon-badge" title="Sin TACC">
                <app-icon-tacc class="icon active"></app-icon-tacc>
              </div>
            }
        </div>

        <!-- Botones -->
        <div class="modal-actions">
          
          @if (modo === 'DUENO') {
            <button class="btn btn-action" (click)="cerrarModal()">Volver</button>
          } @else {
            <div class="control-row">

              <button class="btn btn-action" (click)="cerrarModal()">Volver</button>
                
              <div class="quantity-selector">
                <button (click)="quitar()" class="btn-qty" [disabled]="enMinimo()">
                  <i class="fa-solid fa-minus"></i>
                </button>
    
                <span class="qty-value">{{ cantidad() }}</span>
    
                <button (click)="agregar()" class="btn-qty" [disabled]="enMaximo()">
                  <i class="fa-solid fa-plus"></i>
                </button>
              </div>

            </div>
          }

        </div>

    </div>

    <!-- Imagen -->
    <div class="right-panel">
      <div class="card-image-container">

        @if (vianda.imagenUrl){
          <img [src]="vianda.imagenUrl" [alt]="vianda.nombreVianda" class="product-image" />
        }@else{
          <img src="logo-miviandita-removebg-preview.png" alt="Imagen de vianda no disponible" class="no-image" />
        }
        
      </div>
    </div>
  </div>
</div>
