<div class="modal-container">

  <!-- Header -->
  <div class="modal-header">
    <h2 class="modal-title">{{ vianda.nombreVianda }}</h2>
  </div>

  <div class="modal-body">

    <div class="left-panel">

        <!-- Categoría -->
        <div class="info-group">
          <label>Categoría</label>
          <p>{{ vianda.categoria }}</p>
        </div>

        <!-- Descripción -->
        <div class="info-group">
          <label>Descripción</label>
          <p class="descripcion-text">{{ vianda.descripcion }}</p>
        </div>

        <!-- Precio -->
        <div class="info-group">
          <label>Precio</label>
          <span class="precio-badge">$ {{ vianda.precio }}</span>
        </div>

        <!-- Iconos -->
        <div class="restricciones-container">
            @if (vianda.esVegano) {
              <div class="icon-badge" title="Vegano">
                <app-icon-vegan class="icon active"></app-icon-vegan>
              </div>
            }
            @if (vianda.esVegetariano) {
              <div class="icon-badge" title="Vegetariano">
                <app-icon-veggie class="icon active"></app-icon-veggie>
              </div>
            }
            @if (vianda.esSinTacc) {
              <div class="icon-badge" title="Sin TACC">
                <app-icon-tacc class="icon active"></app-icon-tacc>
              </div>
            }
        </div>

        <!-- Botón -->
        <div class="modal-actions">
          <button class="btn btn-action" (click)="cerrarModal()">Volver</button>
        </div>

    </div>

    <!-- Imagen -->
    <div class="right-panel">
      <div class="card-image-container">

        @if (vianda.imagenUrl){
          <img [src]="vianda.imagenUrl" [alt]="vianda.nombreVianda" class="product-image" />
        }@else{
          <img src="logo-miviandita-removebg-preview.png" alt="Imagen de vianda no disponible" class="no-image" />
        }
        
      </div>
    </div>
  </div>
</div>
