<header class="main-header">
  <nav class="header-nav">
    <div class="header-left">
      <div class="logo-rol-container">
        <a class="logo-container" routerLink="/home">
          <img
            class="header-logo"
            src="logo-miviandita-removebg-preview.png"
            alt="MiViandita Logo"
          />
        </a>

        @if (role() === 'DUENO') {
        <p class="rol">DUEÑO</p>
        } @else { @if (role() === 'ADMIN') {
        <p class="rol">ADMIN</p>
        } }
      </div>

      <app-city-selector
        [ngModel]="cityFilterService.city()"
        (ngModelChange)="cityFilterService.setCity($event)"
        [restoreOnBlur]="true"
      >
      </app-city-selector>
    </div>

    <div class="header-center">
      <app-search-bar></app-search-bar>
    </div>

    <div class="header-right">
      <a routerLink="/home" class="nav-link">INICIO</a>
      <a routerLink="/sobre-miviandita" class="nav-link">SOBRE MIVIANDITA</a>

      @if (!isLoggedIn()) {
      <button routerLink="/login" (click)="onLogin()" class="btn btn-primary">
        INICIAR SESIÓN
      </button>
      } @else {
      <div class="btns-logged">
        @if (role() !== 'ADMIN') {
        <app-dropdown-notificacion></app-dropdown-notificacion>
        }

        <button class="btn btn-profile" routerLink="/me" title="Mi perfil">
          <i class="fa-regular fa-user"></i>
        </button>

        <button class="btn btn-logout" (click)="onLogout()" title="Cerrar sesión">
          <i class="fa-solid fa-right-from-bracket"></i>
        </button>
      </div>
      }
    </div>
  </nav>
</header>
