content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 4rem;
    text-align: center;
    width: 56rem;
}

p {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.8rem;
    margin: 0;
}

address {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 0;
}

address p, address a {
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2rem;
}
