<div class="card-container">
  <div class="info">
    <div class="info-left">
      <h2>{{ emprendimiento.nombreEmprendimiento }}</h2>

      <p class="direccion">
        <i class="fa-solid fa-location-dot"></i>
        {{ emprendimiento.direccion }}
      </p>
    </div>

    <button class="btn-ver-mas" routerLink="/emprendimiento/{{ emprendimiento.id }}">
      Ver más
      <i class="fa-solid fa-chevron-right"></i>
    </button>
  </div>

  <div class="viandas-container">
    @for (vianda of getallViandas(); track vianda.id) {
    <app-vianda-card [vianda]="vianda"/>
    } @empty {
    <h2 class="no-viandas">Este emprendimiento no tiene viandas disponibles.</h2>
    }
  </div>
</div>
