.card-container {
  background: var(--form-bg);
  border-radius: 1.5rem;
  box-shadow: var(--form-shadow);
  width: 80%;
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--emprendimiento-card-header-bg);
  padding: 1.5rem;
  margin: 0;
  width: 100%;
  border-radius: 1.5rem 1.5rem 0 0;
}

.info-left {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.info-left h2 {
  font-size: 2rem;
  margin: 0.5rem;
  font-weight: bold;
}

.direccion {
  font-size: 1.6rem;
  font-weight: lighter;
  margin: 0;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.6rem;
  color: var(--inverse-text-color);
}

.direccion i {
  font-size: 1.4rem;
  color: var(--inverse-text-color);
}

.btn-ver-mas {
  background: var(--bg-color); 
  border: none;
  padding: 1rem 1.2rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  gap: 0.6rem;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--button-bg);
  box-shadow: var(--form-shadow);
  transition: 0.18s ease;
}

.btn-ver-mas i {
  font-size: 1.2rem;
  color: var(--button-bg);
}

.btn-ver-mas:hover {
  transform: translateX(0.5rem);
}

.viandas-container {
  display: flex;
  flex-wrap: nowrap;
  gap: 2rem;
  padding: 2rem;
  /*Aca esta el scrollbar que se aplica automaticamente al llenarse horizontalmente*/
  overflow-x: auto;
  scroll-behavior: smooth;
}

app-vianda-card {
  flex-shrink: 0;
}

.no-viandas {
  font-size: 1.4rem;
  color: var(--input-text);
  opacity: 0.7;
  text-align: center;
}
