.modal-container {
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.header-container {
    background-color: var(--carrito-submodal-header-bg-color);
    padding: 2rem;
}

h2 {
    color: var(--bg-color);
    font-size: 2rem;
    margin: 0;
}

.content-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    padding-top: 0.5rem;
}

p {
    font-size: 1.6rem;
    line-height: 1.8rem;
    margin: 0;
}

.btns-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: right;
}

button {
    background-color: var(--bg-color);
    border: 1px solid var(--carrito-submodal-border-color);
    border-radius: 10px;
    color: var(--carrito-submodal-btn-color);
    font-family: inherit;
    font-size: 1.6rem;
    margin: 0;
    min-width: 5rem;
    padding: 0.5rem;
    transition-duration: 0.2s;
}

button:focus-within, button:hover {
    background-color: color-mix(in srgb, var(--bg-color) 92.5%, black);
}

button:active {
    background-color: color-mix(in srgb, var(--bg-color) 85%, black);
    transition: none;
}

.btn-aceptar {
    background-color: var(--carrito-submodal-border-color);
    color: var(--bg-color);
}

.btn-aceptar:focus-within, .btn-aceptar:hover {
    background-color: color-mix(in srgb, var(--carrito-submodal-border-color) 90%, black);
}

.btn-aceptar:active {
    background-color: color-mix(in srgb, var(--carrito-submodal-border-color) 80%, black);
}
