<div class="card-unificada">
  <div class="header-card">
    <h3 class="titulo-seccion">Datos Personales</h3>
    <i class="fa-solid fa-pen edit-icon" (click)="openUpdateModal()"></i>
  </div>

  <div class="divisor"></div>

  <div class="contenido-card">
    <input
      type="file"
      #fileInput
      style="display: none"
      (change)="onFileSelected($event)"
      accept="image/*"
    />

    <div class="layout-datos">
      <div class="datos-info">
        <div class="dato-container">
          <i class="fa-solid fa-user icon"></i>
          <p class="dato">{{ usuarioSignal().nombreCompleto }}</p>
        </div>

        <div class="dato-container">
          <i class="fa-solid fa-phone icon"></i>
          <p class="dato">{{ usuarioSignal().telefono }}</p>
        </div>

        <div class="dato-container">
          <i class="fa-solid fa-envelope icon"></i>
          <p class="dato">{{ usuarioSignal().email }}</p>
        </div>
      </div>

      <div class="datos-imagen" (click)="fileInput.click()">
        <img [src]="usuarioSignal().imagenUrl" alt="Foto de perfil" class="profile-img" />
        <div class="image-overlay">
          <i class="fa-solid fa-camera"></i>
          <span>Cambiar</span>
        </div>
      </div>
    </div>
  </div>
</div>
