<div class="card-info">

  <!-- Izquierda (imagen + nombre) -->
  <div class="info-left">
      <div
        class="logo-circle"
        (click)="openImagenModal()"
        [class.clickable]="emprendimiento().imagenUrl"
        [class.unavailable]="!emprendimiento().estaDisponible">
        
        @if (emprendimiento().imagenUrl && !imageLoadError()) {
        <div class="img-wrapper">
          <img [src]="emprendimiento().imagenUrl" alt="Logo" (error)="handleImageError()" />

          <div class="overlay">
            <i class="fa-solid fa-magnifying-glass-plus lupa-icon"></i>
          </div>
        </div>
        } @else {
        <i class="fa-solid fa-store placeholder-icon"></i>
        }
      </div>
      
      <div class="title-container">
        <h1 class="titulo">{{ emprendimiento().nombreEmprendimiento }}</h1>
        
        @if (!emprendimiento().estaDisponible) {
            <span class="badge-unavailable">NO DISPONIBLE</span>
        }
      </div>

    </div>

    <!-- Medio (botón carrito/configurar, según rol) -->
    <div class="info-center">
      @if (modo() === 'DUENO') {
      <button class="btn btn-accion" (click)="onButtonClick()">
        Configurar <i class="fa-solid fa-gear"></i>
      </button>
      } @else {
      <button class="btn btn-accion btn-carrito" (click)="onButtonClick()">
        {{ hayCarrito() ? 'Carrito' : 'Nuevo Carrito' }} <i class="fa-solid fa-cart-shopping"></i>

        @if (hayCarrito()) {
        <span>{{ cantidadViandasUnicasEnCarrito() }}</span>
        }
      </button>
      }
  </div>

  <!-- Derecha (dirección + teléfono + nombre del dueño) -->
  <div class="info-right">
    <div class="text-icon-container">
      <p class="direccion">{{ emprendimiento().direccion }}</p>
      <i class="fa-solid fa-location-dot"></i>
    </div>
    <div class="text-icon-container">
      <p class="telefono">{{ emprendimiento().telefono }}</p>
      <i class="fa-solid fa-phone"></i>
    </div>
    <div class="text-icon-container">
      <p class="dueno">{{ emprendimiento().dueno.nombreCompleto }}</p>
      <i class="fa-solid fa-user"></i>
    </div>
  </div>

</div>

@if (showImagenModal) {
<div class="modal-backdrop" (click)="closeImagenModal()">
  <img class="modal-img" [src]="imagenModalUrl" />
</div>
}
