.modal-container {
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  border-radius: 1.6rem;
  overflow: hidden;
}

.header-container {
  background-color: var(--carrito-title-bg-color);
  padding: 1.8rem 2.4rem;
}

.header-container h2 {
  color: var(--inverse-text-color);
  font-size: 2rem;
  margin: 0;
  font-weight: bold;
}

.content-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 2.4rem;
}

.content-container p {
  font-size: 1.6rem;
  margin: 0;
  line-height: 2.2rem;
}

.btns-container {
  display: flex;
  justify-content: flex-end;
  gap: 1.4rem;
  margin-top: 1rem;
}

.btns-container .btn {
  width: 14rem !important;
  padding: 1.2rem 0 !important;
  font-size: 1.6rem !important;
  border-radius: 0.8rem !important;
  font-weight: bold !important;
}

.btn-cancelar {
  background: var(--estado-rechazado);
  color: var(--inverse-text-color);
}

.btn-confirmar {
  background: var(--precio-color);
  color: var(--inverse-text-color);
}
