<div class="search-container">
  <div class="search-input-container">
    <input
      class="search-input"
      type="text"
      placeholder="Buscar emprendimiento..."
      (input)="onInput($event)"
      (blur)="onBlur()"
      (focus)="buscadorSeleccionado = true"
    />

    <i class="fa-solid fa-magnifying-glass"></i>
  </div>

  @if (buscadorSeleccionado && hayTextoEnBuscador) {
    <div class="search-results">
      @for (item of resultados(); track item.id) {
        <div
          class="result-card"
          [routerLink]="['/emprendimiento', item.id]"
        >
          @if (item.imgUrl) {
            <img [src]="item.imgUrl" class="card-img">
          }

          <div class="card-info">
            <p class="card-title">{{ item.nombreEmprendimiento }}</p>
            <p class="card-sub">{{ item.direccion }} - {{ item.telefono }}</p>
            <p class="card-sub">Dueño: {{ item.dueno.nombreCompleto}}</p>
          </div>
        </div>
      } @empty {
        <p class="no-results">No se encontraron resultados.</p>
      }
    </div>
  }
</div>


