.search-input-container {
    position: relative;
}

.search-input {
    border: 1px solid color-mix(in srgb, var(--bg-color) 75%, black);
    border-radius: 15px;
    font-family: inherit;
    font-size: 1.4rem;
    outline: none;
    padding: 1rem 3rem 1rem 3.6rem;
    transition: border-color 0.2s, box-shadow 0.2s;
    width: 48rem;
}

.search-input:focus-within {
    border-color: var(--search-bar-focus-color);
    box-shadow: 0 0 0 3px color-mix(in srgb, var(--search-bar-focus-color) 33%, transparent);
}

.search-input-container i {
    color: var(--search-bar-icon-color);
    font-size: 1.6rem;
    position: absolute;
    left: 1.2rem;
    pointer-events: none;
    top: 50%;
    transform: translateY(-50%);
}

.search-results {
    background-color: var(--bg-color);
    border: 1px solid color-mix(in srgb, var(--bg-color) 85%, black);
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    left: 50%;
    margin-top: 0.5rem;
    overflow: hidden;
    position: absolute;
    top: 100%;
    transform: translateX(-50%);
    width: 64rem;
    z-index: 10;
}

.result-card {
    align-items: center;
    border-bottom: 1px solid color-mix(in srgb, var(--bg-color) 90%, black);
    cursor: pointer;
    display: flex;
    flex-direction: row;
    padding: 1.5rem 2rem;
    position: relative;
    transition: background-color 0.15s;
}

.result-card:last-child {
    border-bottom: none;
}

.result-card:hover {
    background-color: color-mix(in srgb, var(--bg-color) 92.5%, black);
}

.card-img {
    aspect-ratio: 1/1;
    border-radius: 8px;
    height: 8rem;
    margin-right: 1rem;
    object-fit: cover;
}

.card-info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    line-height: 1.8rem;
}

.card-title {
    color: var(--text-color);
    font-size: 2rem;
    font-weight: 600;
    margin: 0;
    margin-bottom: 1rem;
}

.card-sub {
    color: color-mix(in srgb, var(--text-color) 50%, var(--inverse-text-color));
    font-size: 1.6rem;
    margin: 0;
}

.no-results {
    color: color-mix(in srgb, var(--text-color) 60%, var(--inverse-text-color));
    font-size: 2rem;
    padding: 2rem 2rem;
    width: 100%;
}
