.search-container {
    position: relative;
}

.search-input {
    border: 0.1rem solid color-mix(in srgb, var(--bg-color) 75%, black);
    border-radius: 2rem;
    font-family: inherit;
    font-size: 1.6rem;
    outline: none;
    padding: 1rem 3.6rem;
    transition: 0.2s;
    width: 48rem;
}

.mostrando-resultados {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    transition: none;
}

.search-input:focus-within {
    border-color: var(--search-bar-focus-color);
}

.icon-search, .btn-clear {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.icon-search {
    color: var(--search-bar-icon-color);
    font-size: 1.6rem;
    left: 1.2rem;
    pointer-events: none;
}

.btn-clear {
    background: none;
    border: none;
    color: color-mix(in srgb, var(--text-color) 33%, white);
    font-size: 1.4rem;
    right: 1.2rem;
    transition-duration: 0.1s;
}

.btn-clear:focus-within, .btn-clear:hover {
    color: color-mix(in srgb, var(--text-color) 66%, white);
}

.search-results {
    background-color: var(--bg-color);
    border: 1px solid color-mix(in srgb, var(--bg-color) 85%, black);
    border-radius: 0 0 1.2rem 1.2rem;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.5);
    overflow: hidden;
    position: absolute;
    top: 100%;
    width: 48rem;
    z-index: 10;
}

.result-card {
    align-items: center;
    border-bottom: 0.1rem solid color-mix(in srgb, var(--bg-color) 90%, black);
    cursor: pointer;
    display: flex;
    flex-direction: row;
    padding: 1.5rem 2rem;
    position: relative;
    transition: background-color 0.15s;
}

.result-card:last-child {
    border-bottom: none;
}

.result-card:hover {
    background-color: color-mix(in srgb, var(--bg-color) 92.5%, black);
}

.card-img {
    aspect-ratio: 1/1;
    border-radius: 0.8rem;
    height: 8rem;
    margin-right: 1rem;
    object-fit: cover;
}

.card-info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    line-height: 1.8rem;
}

.card-title {
    color: var(--text-color);
    font-size: 2rem;
    font-weight: 600;
    margin: 0;
    margin-bottom: 1rem;
}

.card-sub {
    color: color-mix(in srgb, var(--text-color) 50%, var(--inverse-text-color));
    font-size: 1.6rem;
    margin: 0;
}

.no-results {
    color: color-mix(in srgb, var(--text-color) 60%, var(--inverse-text-color));
    font-size: 2rem;
    padding: 2rem 2rem;
    width: 100%;
}
