/* --- COMPONENTE SNACKBAR --- */
:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-background-primary);
  color: var(--color-text-primary);
  font-family: 'Inria Sans', sans-serif;
  font-size: 1.8rem;
  padding: 0.6rem 1.2rem;
  width: 100%;
}

.snackbar-icon {
  margin-right: 0rem;
  color: var(--color-primary-light);
}