content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 80rem;
}

nav {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

h2 {
  font-size: 2.6rem;
  line-height: 2.6rem;
}

h3 {
  font-size: 2.1rem;
  line-height: 2.1rem;
}

ul {
  font-size: 1.6rem;
  line-height: 2rem;
}

.texto-con-separador {
  align-items: center;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.texto-con-separador::after {
  border-bottom: 2px dashed var(--color-text-primary);
  content: "";
  flex: 1;
  margin-left: 1rem;
}

nav > h3 {
  font-size: 2rem;
  line-height: 2rem;
  margin: 0 0 1rem 0;
  text-decoration: underline;
}

nav > p {
  font-size: 1.8rem;
  margin: 0;
}
