h1,h2{
  font-size: 3rem;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
  padding: 2rem;
  width:30%;
  margin: 1rem auto; 
}

.error-container {
  width: 100%;
  display: flex;
  justify-content: center;
  background: var(--form-bg);
  border-radius: 1rem;
  box-shadow: var(--form-shadow);
  padding: 3rem;
}

.error-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2rem;
  width: 100%;
}

.imagen-error {
  width: min(28rem, 80%);
  max-width: 30rem;
}

.titulo {
  font-size: 2rem;
  font-weight: bold;
  color: var(--text-color);
  margin: 0;
}

.mensaje {
  font-size: 1.4rem;
  color: var(--input-text);
  max-width: 50rem;
  border-top: 0.1rem solid var(--btn-disabled);
  padding: 3rem;
  margin: 0;
}

.link-container{
  width: 70%;
  display: flex;
  justify-content: space-between;
  
}

.link {
  margin-top: 2rem;
  text-decoration: none;
  font-size: 1.4rem;
  color: var(--link-color);
  cursor: pointer;
}

.link:hover {
  text-decoration: underline;
}
