<div class="card-container" [class.unavailable]="!emprendimiento.estaDisponible">

  <div class="info">

    <div class="info-main">
      
      <div class="logo-circle">
        @if (emprendimiento.imagenUrl) {
          <img [src]="emprendimiento.imagenUrl" alt="Logo" />
        } @else {
          <i class="fa-solid fa-store placeholder-icon"></i>
        }
      </div>

      <div class="text-content">

        <div class="name-status-row">
            <h2>{{ emprendimiento.nombreEmprendimiento }}</h2>
            @if (!emprendimiento.estaDisponible) {
                <span class="badge-card-unavailable">NO DISPONIBLE</span>
            }
        </div>

        <p class="direccion">
          <i class="fa-solid fa-location-dot"></i>
          {{ emprendimiento.direccion }}
        </p>
      </div>

    </div>

    <button class="btn btn-ver-mas" routerLink="/emprendimiento/{{ emprendimiento.id }}">
      Ver más
      <i class="fa-solid fa-chevron-right"></i>
    </button>
  </div>

  <div class="viandas-section">
    <div class="viandas-container">
      @for (vianda of getallViandas(); track vianda.id) {
        <app-vianda-card [vianda]="vianda" />
      } @empty {
        <div class="no-viandas-wrapper">
          <h2 class="no-viandas">Este emprendimiento no tiene viandas disponibles.</h2>
        </div>
        
      }
    </div>
  </div>
</div>
