
<div class="card">

        <div class="card-image-container">
            @if (vianda().imagenUrl) {
                <img [src]="vianda().imagenUrl" [alt]="vianda().nombreVianda" class="product-image">
            } @else {
                <!-- AGREGAR qué muestro si no carga la imagen -->
                
            }
        </div>

        <div class="card-content">

            <div class="card-header">
                <h3 class="card-title">
                    {{ vianda().nombreVianda }}
                </h3>
                <span class="card-price">
                    $ {{ vianda().precio }}
                </span>
            </div>

            <p class="card-description">
                {{ vianda().descripcion }}
            </p>

            <div class="card-footer">
                
                <div class="diet-icons">

                @if (vianda().esSinTacc) {
                    <div class="icon-badge" title="Sin TACC">
                        <app-icon-tacc class="icon active"></app-icon-tacc>
                    </div>
                }

                @if (vianda().esVegano) {
                    <div class="icon-badge" title="Vegano">
                        <app-icon-vegan class="icon active"></app-icon-vegan>
                    </div>
                }

                @if (vianda().esVegetariano) {
                    <div class="icon-badge" title="Vegetariano">
                        <app-icon-veggie class="icon active"></app-icon-veggie>
                    </div>
                }
            </div>

            <!-- DERECHA: Acciones (Dueño vs Cliente/Invitado) -->
            <div>
            @if (esDueno()) {
                <!-- MODO DUEÑO: Botón Editar (Lápiz) -->
                <button 
                    (click)="editar.emit()"
                    class="btn-edit"
                    title="Editar plato">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M17 3a2.85 2.83 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5Z"/><path d="m15 5 4 4"/>
                    </svg>
                </button>

            } @else {
                <!-- MODO CLIENTE / INVITADO: Selector de Cantidad (+ -) -->
                <div class="quantity-selector">
                
                    <!-- Botón Menos -->
                    <button 
                    (click)="quitar.emit()"
                    class="btn-qty"
                    [disabled]="cantidad() <= 0">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M5 12h14"/>
                    </svg>
                    </button>

                    <!-- Número -->
                    <span class="qty-value">{{ cantidad() }}</span>

                    <!-- Botón Más -->
                    <button 
                    (click)="agregar.emit()"
                    class="btn-qty"
                    >
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M5 12h14"/><path d="M12 5v14"/>
                    </svg>
                    </button>
                </div>
                }
            </div>

        </div>
    </div>
</div>
