.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
    margin-bottom: 3rem;
    flex-wrap: wrap;
}

.pagination-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 2.8rem;
    height: 2.8rem;
    border: 1px solid var(--color-ui-gray-light);
    background-color: var(--color-background-secondary);
    color: var(--color-text-secondary);
    font-family: inherit;
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 0.8rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    padding: 0 0.5rem;
}

.pagination-btn:hover:not(:disabled):not(.dots):not(.active) {
    background-color: var(--color-background-secondary);
    border-color: var(--color-primary-hover-light);
    color: var(--color-primary-hover-dark);
    transform: translateY(-1px);
}

.pagination-btn.active {
    background-color: var(--color-primary-light);
    color: var(--color-text-inverse);
    border-color: var(--color-primary-light);
    font-weight: bold;
    cursor: default;
}

.pagination-btn:disabled {
    color: var(--color-ui-neutral-hover);
    background-color: var(--color-background-primary);
    border-color: var(--color-background-primary);
    cursor: default;
    transform: none;
    box-shadow: none;
}

.pagination-btn.dots {
    border: none;
    background: transparent;
    cursor: default;
    color: var(--color-ui-neutral-hover);
    font-weight: bold;
    letter-spacing: 0.1rem;
}

@media (max-width: 60rem) {
    .pagination-container {
        gap: 0.25rem;
    }
    .pagination-btn {
        min-width: 2rem;
        height: 2rem;
        font-size: 0.8rem;
    }
}