.vianda-card.skeleton {
  width: 22rem;
  height: 22rem;
  background: var(--skeleton-bg);
  border-radius: 1rem;
  animation: pulse 1.2s infinite ease-in-out;
}

@keyframes pulse {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.6;
  }
}
