.modal-carrito {
    background-color: var(--carrito-title-bg);
}

.modal-carrito-header {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding: 2rem 4rem;
}

.modal-carrito-header h2 {
    color: var(--inverse-text-color);
    flex: 1;
    font-size: 3rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.modal-carrito-header h2 span {
    font-weight: 600;
}

.cerrar-button {
    aspect-ratio: 1/1;
    background-color: color-mix(in srgb, var(--carrito-button-color) 20%, var(--bg-color));
    border: 1px solid color-mix(in srgb, var(--bg-color) 50%, black);
    border-radius: 30%;
    color: var(--carrito-button-color);
    font-size: 2rem;
    padding: 0.5rem;
    transition-duration: 0.1s;
    width: 4rem;
}

.cerrar-button:hover {
    background-color: var(--bg-color);
}

.modal-carrito-content {
    background-color: var(--carrito-content-bg);
    border-radius: 20px;
    border-top: 2px solid color-mix(in srgb, var(--carrito-content-bg) 50%, black);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 2rem;
}

.modal-carrito-lista {
    align-items: center;
    background-color: var(--bg-color);
    border-radius: 30px;
    box-shadow: 0 0 1px 1px rgb(0,0,0,0.25);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
}

.modal-carrito-lista-vacia {
    color: color-mix(in srgb, var(--text-color) 50%, white);
    font-size: 2rem;
}

.modal-carrito-item {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.modal-carrito-item-img-container {
    align-items: center;
    aspect-ratio: 1/1;
    border-radius: 10px;
    display: flex;
    height: 10rem;
    justify-content: center;
    overflow: hidden;
}

.modal-carrito-item-nombre-precio-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 2rem;
}

.modal-carrito-item-nombre-precio-container p {
    margin: 0;
    padding: 0;
}

.item-nombre {
    font-size: 2.4rem;
}

.item-precio {
    color: color-mix(in srgb, var(--text-color) 50%, white);
    font-size: 2.0rem;
}

.item-subtotal {
    color: var(--carrito-item-subtotal-color);
    font-size: 2.4rem;
}

.item-cantidad-buttons-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
}

.item-cantidad-button {
    background-color: var(--bg-color);
    border: 1px solid color-mix(in srgb, var(--bg-color) 50%, black);
    border-radius: 50%;
    color: var(--carrito-button-color);
}

.item-cantidad-container {
    min-width: 3rem;
    text-align: center;
}

.item-cantidad {
    font-size: 2.4rem;
}

.modal-carrito-content-sub {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding: 0 2rem;
}

.modal-carrito-total {
    color: color-mix(in srgb, var(--text-color) 70%, white);
    flex: 1;
    font-size: 2.4rem;
}

.modal-carrito-total span {
    color: var(--carrito-item-subtotal-color);
    font-weight: 700;
}

.modal-carrito-sub-button-cancelar,
.modal-carrito-sub-button-confirmar
{
    border: 1px solid var(--carrito-item-subtotal-color);
    border-radius: 15px;
    font-family: inherit;
    font-size: 2rem;
    font-weight: 500;
    padding: 1rem;
    transition-duration: 0.1s;
}

.modal-carrito-sub-button-cancelar {
    background-color: var(--bg-color);
}

.modal-carrito-sub-button-cancelar:hover {
    background-color: color-mix(in srgb, var(--bg-color) 95%, black);
}

.modal-carrito-sub-button-confirmar {
    background-color: var(--carrito-item-subtotal-color);
    color: var(--bg-color);
}

.modal-carrito-sub-button-confirmar:hover {
    background-color: color-mix(in srgb, var(--carrito-item-subtotal-color) 95%, black);
}
