<div class="modal-container">
    <div class="header-container">
        <h2>Vaciar Carrito</h2>
    </div>

    <div class="content-container">
        <p>
            El carrito contiene viandas de un emprendimiento distinto al de la vianda que querés agregar,
            ¿querés vaciar el carrito y empezar desde cero?
        </p>

        <div class="btns-container">
            <button class="btn-rechazar" (click)="procesar(false)">No</button>
            <button class="btn-aceptar" (click)="procesar(true)">Sí</button>
        </div>
    </div>
</div>
