/* --- COMPONENTE DE LINKS EN FORMULARIO --- */
.main-form-container h1 {
  margin: 0;
}

.links-container {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-around;
}

.link {
  color: var(--color-primary-light);
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem;
}

.link:hover {
  cursor: pointer;
  text-decoration: underline;
}