<div class="modal-pedido-container">
  <div class="pedido-header">
    <h2>Pedido #{{ pedido.id }} — {{ pedido.emprendimiento.nombreEmprendimiento }}</h2>

    <div class="btn-close-icon" (click)="cerrar()">
      <i class="fa-solid fa-xmark"></i>
    </div>
  </div>

  <div class="pedido-content">
    <div class="left-panel scrolleable">
      @for (detalle of pedido.viandas; track detalle.viandaId) {
      <div class="item-vianda">
        <div class="info">
          <p class="nombre">{{ detalle.nombreVianda }}</p>

          <p class="unitario">
            Precio unitario:
            <span class="precio">${{ detalle.precioUnitario }}</span>
          </p>

          <p class="cantidad">
            Cantidad: <strong>{{ detalle.cantidad }}</strong>
          </p>

          <p class="subtotal">
            Subtotal: <span class="precio">${{ detalle.subtotal }}</span>
          </p>
        </div>
      </div>
      }
    </div>

    <div class="right-panel">
      <div class="detalle-general">
        <p>
          <span class="label">Fecha de entrega:</span>
          {{ pedido.fechaEntrega | date : 'dd/MM/yyyy' }}
        </p>

        <p>
          <span class="label">Total: </span>
          <span class="precio">${{ pedido.total }}</span>
        </p>

        <p>
          <span class="label">Estado: </span>
          <span class="estado" [class]="pedido.estado.toLowerCase()">{{ pedido.estado }}</span>
        </p>
      </div>

      <div class="acciones">
        @if (role() === 'CLIENTE' && pedido.estado === 'PENDIENTE') {

        <div class="grupo-fecha">
          <label>Nueva fecha</label>
          <input
            type="date"
            [(ngModel)]="nuevaFechaSeleccionada"
            class="input-date"
            [min]="minDate"
            [disabled]="esDemasiadoTarde"
            title="Seleccioná una fecha posterior a la actual del pedido"
          />
        </div>

        @if (esDemasiadoTarde) {
        <div class="alerta-bloqueo">
          <i class="fa-solid fa-clock"></i>
          <small>Ya no se puede modificar (entrega mañana).</small>
        </div>
        }

        <button
          class="btn btn-cambiar-fecha"
          [disabled]="esDemasiadoTarde || !nuevaFechaSeleccionada"
          [class.btn-disabled]="esDemasiadoTarde"
          (click)="cambiarFechaEntrega(nuevaFechaSeleccionada)"
        >
          CAMBIAR FECHA
        </button>
        } @if (role() === 'CLIENTE' && pedido.estado === 'PENDIENTE') {
        <button class="btn btn-rechazar" (click)="cambiarEstado(EstadoPedido.CANCELADO)">
          CANCELAR PEDIDO
        </button>
        } @if (role() === 'DUENO' && pedido.estado === 'PENDIENTE') {
        <button class="btn btn-confirmar" (click)="cambiarEstado(EstadoPedido.ACEPTADO)">
          ACEPTAR PEDIDO
        </button>

        <button class="btn btn-rechazar" (click)="cambiarEstado(EstadoPedido.RECHAZADO)">
          RECHAZAR PEDIDO
        </button>
        } @if (role() === 'DUENO') {
        <button class="btn btn-contactar" (click)="verDatosUsuario(pedido.cliente)">
          CONTACTAR
        </button>
        }@if (role() === 'CLIENTE') {
        <button class="btn btn-contactar" (click)="verDatosUsuario(pedido.emprendimiento.dueno)">
          CONTACTAR
        </button>
        }
      </div>
    </div>
  </div>
</div>
