.right-panel {
  width: 40%;
  min-width: 38rem;
  padding: 3rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-left: 0.1rem solid var(--input-border);
}

.detalle-general p {
  font-size: 1.5rem;
  margin: 0.6rem 0;
}

.label {
  font-weight: bold;
}

.estado {
  text-transform: uppercase;
  font-weight: bold;
}

.estado.aceptado {
  color: var(--estado-aceptado);
}

.estado.rechazado {
  color: var(--estado-rechazado);
}

.estado.pendiente {
  color: var(--estado-pendiente);
}

.acciones {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.btn {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  padding: 1.3rem 2rem !important;
  width: 15rem !important;
  font-size: 1.3rem !important;
  font-weight: bold !important;
}

.btn-cancelar {
  background:var(--estado-default);
  color: var(--inverse-text-color);
}

.btn-aceptar {
  background: var(--estado-aceptado);
  color: var(--inverse-text-color);
}

.btn-rechazar {
  background: var(--estado-rechazado);
  color: var(--inverse-text-color);
}

.left-panel {
  padding: 3rem 4rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  overflow-y: auto;
  padding-right: 1rem;
}

.left-panel h3 {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 0;
}

.item-vianda {
  padding: 1rem 0;
  border-bottom: 0.1rem solid var(--input-border);
}

.item-vianda:last-child {
  border-bottom: none;
}

.info p {
  margin: 0.2rem 0;
  font-size: 1.5rem;
}

.nombre {
  font-size: 1.7rem;
  font-weight: bold;
  margin-bottom: 0.4rem;
}

.unitario {
  font-size: 1.4rem;
  color: var(--toggle-eye-color);
  margin-bottom: 0.4rem;
}

.cantidad,
.subtotal {
  font-size: 1.4rem;
  margin: 0.3rem 0;
}

.precio {
  color: var(--precio-color);
  font-weight: bold;
}

.sin-viandas {
  font-style: italic;
  color: var(--toggle-eye-color);
}
