.app-footer {
    align-items: center;
    background-color: var(--bg-color);
    border-top: 0.1rem solid black;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    padding: 3rem 2rem 0 2rem;
    width: 100%;
}

.app-footer .footer-section {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    gap: 8rem;
    justify-content: space-between;
    margin-bottom: 2rem;
    max-width: 120rem;
    width: 100%;
}

.footer-contact-info,
.footer-quick-links {
    flex-basis: 28rem; /* define el tamaño base antes de que Flexbox actue */
    flex-grow: 1; /* permite que crezcan un poco si hay espacio */
    min-width: 20rem;
    padding: 0 1rem;
    text-align: left;
}

/* titulos de las secciones */
.app-footer .footer-section h3 {
    color: var(--text-color);
    display: inline-block;
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    margin-top: 0;
    padding-bottom: 0.5rem;
}

.footer-section .footer-logo-container {
    align-items: flex-start;
    display: flex;
    flex-basis: 28rem;
    flex-grow: 1;
    gap: 4rem;
    min-height: 20rem;
    padding: 0 1rem;
}

/* estilos logo */
.footer-section .footer-logo-container .footer-logo {
    height: auto;
    margin-bottom: 0.5rem;
    max-width: 15rem;
}

.footer-section .footer-logo-container .footer-name-container {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    text-align: center;
}

.footer-section .footer-logo-container .footer-name-container .footer-name {
    font-size: 1.8rem;
    font-weight: bold;
    margin: 0;
}

/* estilos eslogan y contacto */
.footer-section .footer-logo-container .footer-name-container .footer-eslogan {
    color: var(--link-color);
    font-size: 1.9rem;
    margin: 0.8rem -3rem; /* acomodar en funcion del eslogan */
}

/* contacto */
.footer-section .footer-contact-info p {
    color: var(--link-color);
    font-size: 1.35rem;
    margin: 0;
}

/* enlaces */
.footer-section .footer-quick-links a {
    color: var(--link-color);
    display: block; /* cada enlace en su propia línea */
    font-size: 1.35rem;
    margin-bottom: 0.8rem;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-section .footer-quick-links a:hover {
    color: #e07b3d;
    text-decoration: underline;
}

/* barra inferior */
.app-footer .footer-bottom-bar {
    align-items: center;
    background-color: var(--form-bg);
    border-top: 1px solid #e5e5e5;
    color: #888;
    display: flex;
    font-size: 1.2rem;
    justify-content: center;
    padding: 1.5rem 2rem;
    text-align: center;
    width: 100%;
}

.app-footer .footer-bottom-bar .separador {
    margin: 0 1rem;
}
