<footer class="app-footer">
    <section class="footer-section">
        <div class="footer-logo-container">
            <img src="logo-miviandita-removebg-preview.png" alt="MiViandita-Logo" class="footer-logo">
            <div class="footer-name-container">
                <p class="footer-name">MiViandita</p>
                <p class="footer-eslogan">¡Tu vianda a un click!</p>
            </div> 
        </div>

        <div class="footer-contact-info">
            <h3>Contacto</h3>
            <p>Email: mivianditautn@gmail.com</p>
        </div>

        <div class="footer-quick-links">
            <h3>Enlaces Rápidos</h3>
            <a routerLink="/registro/dueno">Registrate como Dueño</a>
            <a routerLink="">Politica de Privacidad</a>
            <a routerLink="">Terminos de Servicio</a>
        </div>
    </section>

    <div class="footer-bottom-bar">
        <span>&copy; MiViandita 2025</span>
        <span class="separador"> | </span>
        <span>Desarrollado por: MiVianditaTeam</span>
    </div>
</footer>
