<div class="card-info">

    <div class="info-left">
        <div class="logo-circle">
        @if (datos().imgUrl) {
            <img [src]="datos().imgUrl" alt="Logo">
        } @else {
            <i class="placeholder-icon">🏠</i> 
        }
        </div>
        <h1 class="titulo">{{ datos().nombreEmprendimiento }}</h1>
    </div>

    <div class="info-center">
        @if (modo() === 'DUENO') {
        <button class="btn-accion" (click)="onButtonClick()">
            EDITAR DATOS
        </button>
        } @else {
        <button class="btn-accion" (click)="onButtonClick()">
            VER CARRITO
        </button>
        }
    </div>

    <div class="info-right">
        <p class="direccion">{{ datos().direccion }}</p>
        <p class="telefono">{{ datos().telefono }}</p>
        <p class="dueno">{{ datos().dueno.nombreCompleto }}</p>
    </div>

</div>
