<form class="form-vianda" [formGroup]="formVianda">
    
    <!-- Nombre Vianda -->
  <div class="form-field">
    <label class="form-label">Nombre de la Vianda</label>
    <input formControlName="nombreVianda" type="text" class="form-input" placeholder="Ej: Milanesa con puré"/>

    @if (formVianda.get('nombreVianda')?.invalid &&
        (formVianda.get('nombreVianda')?.dirty || formVianda.get('nombreVianda')?.touched)) {
      <div class="error-messages">
        @if (formVianda.get('nombreVianda')?.hasError('required')) {
          <p>El nombre es obligatorio.</p>
        }
        @if (formVianda.get('nombreVianda')?.hasError('maxLength')) {
          <p>Máximo 255 caracteres.</p>
        }
      </div>
    }
  </div>

  <!-- Categoria -->
  <div class="form-field">
    <label class="form-label">Categoría</label>

    <select formControlName="categoria">
      <option [ngValue]="null">--Seleccione--</option>

       @for (cat of categorias; track cat.key) {
        <option [value]="cat.key">{{ cat.label }}</option>
      }
  </select>

    @if (formVianda.get('categoria')?.invalid &&
       (formVianda.get('categoria')?.dirty || formVianda.get('categoria')?.touched)) {
    <div class="error-messages">
      @if (formVianda.get('categoria')?.hasError('required')) {
        <p>Debe seleccionar una categoría.</p>
      }
    </div>
  }
  </div>

<!-- Descripcion -->
  <div class="form-field">
    <label class="form-label">Descripción</label>
    <textarea formControlName="descripcion" class="form-input" placeholder="Ej: Porción abundante con guarnición"></textarea>

    @if (formVianda.get('descripcion')?.invalid &&
        (formVianda.get('descripcion')?.dirty || formVianda.get('descripcion')?.touched)) {
      <div class="error-messages">
        @if (formVianda.get('descripcion')?.hasError('required')) {
          <p>La descripción es obligatoria.</p>
        }
        @if (formVianda.get('descripcion')?.hasError('maxLength')) {
          <p>Máximo 400 caracteres.</p>
        }
      </div>
    }
  </div>

  <!-- Imagen -->
  <div class="form-field">
    <label class="form-label">Imagen de la Vianda</label>
    <input type="file" (change)="onFileSelected($event)" accept="image/*" />

    @if (formVianda.get('image')?.invalid && 
        (formVianda.get('image')?.dirty || formVianda.get('image')?.touched)) {
      <div class="error-messages">
        <p>La imagen es obligatoria y debe cumplir la resolución máxima de {{ maxWidth }}x{{ maxHeight }}px.</p>
      </div>
    }
  </div>

  <!-- Precio -->
  <div class="form-field">
    <label class="form-label">Precio</label>
    <input formControlName="precio" type="number" class="form-input" placeholder="Ej: 3500"/>

    @if (formVianda.get('precio')?.invalid &&
        (formVianda.get('precio')?.dirty || formVianda.get('precio')?.touched)) {
      <div class="error-messages">
        @if (formVianda.get('precio')?.hasError('required')) {
          <p>El precio es obligatorio.</p>
        }
        @if (formVianda.get('precio')?.hasError('min')) {
          <p>Debe ser mayor a 0.</p>
        }
      </div>
    }
  </div>

  <!-- Checkboxes -->
  <div class="form-field">
    <label><input type="checkbox" formControlName="esVegano" /> Vegano</label>
    <label><input type="checkbox" formControlName="esVegetariano" /> Vegetariano</label>
    <label><input type="checkbox" formControlName="esSinTacc" /> Sin TACC</label>
  </div>

  <!-- Boton crear vianda -->
  <button type="button" class="btn" (click)="onSubmit()" [disabled]="!formVianda.valid">
    Crear Vianda
  </button>


</form>
