<div class="vianda-card" (click)="openViandaModal()">

  <div class="card-image-container">
    
    @if (vianda.imagenUrl) {
      <img [src]="vianda.imagenUrl" alt="{{ vianda.nombreVianda }}" class="product-image" />
    }@else {
      <img class="no-image" src="logo-miviandita-removebg-preview.png" alt="Sin imagen" />
    }
    
  </div>

  <div class="card-content">

    <h3 class="card-title">
      {{ vianda.nombreVianda }}
    </h3>

    <span class="card-price">
      $ {{ vianda.precio }}
    </span>

  </div>

</div>
