<div class="notificacion-wrapper">
  <button class="icon-btn" (click)="toggleDropdown()">
    <i class="fa-solid fa-bell"></i>

    @if (firstOpen() && getCantidadNotificaciones() > 0) {
    <span class="badge">{{ getCantidadNotificaciones() }}</span>
    }
  </button>

  @if (isOpen()) {
  <div class="dropdown animate">
    <h4 class="titulo">Mis notificaciones</h4>

    <div class="lista">
      @if (getCantidadNotificaciones() === 0) {
      <p class="sin-notificaciones">Sin notificaciones recientes.</p>
      } @else { @for (n of notificacionService.notificacionesOrdenadas(); track n.id) {
      <app-notificacion-single-card [notificacion]="n"></app-notificacion-single-card>
      } }
    </div>

    <button class="btn btn-ver" (click)="verTodasNotificaciones()">Ver todas</button>
  </div>
  }
</div>
