<div class="notificacion-wrapper">
  <button class="icon-btn" (click)="toggleDropdown()">
    <i class="fa-solid fa-bell"></i>
    @if (notificacionService.cantidadNoLeidas() > 0) {
      <span class="badge">{{ notificacionService.cantidadNoLeidas() }}</span>
    }
  </button>

  @if (isOpen()) {
    <div class="dropdown animate">
      <div class="dropdown-header">
        <h4 class="titulo">Nuevas</h4>
        </div>

      <div class="lista">
        @if (notificacionService.soloNoLeidas().length === 0) {
          <div class="empty-state">
            <i class="fa-regular fa-face-smile-wink"></i>
            <p>¡Estás al día! No hay notificaciones nuevas.</p>
          </div>
        } @else {
          @for (n of notificacionService.soloNoLeidas(); track n.id) {
            <app-notificacion-single-card [notificacion]="n"></app-notificacion-single-card>
          }
        }
      </div>

      <button class="btn btn-ver" (click)="verTodasNotificaciones()">
        Ver historial completo
      </button>
    </div>
  }
</div>
