<button type="button" class="btn-icon-circle btn-close-modal" (click)="cerrarModal()">
  <i class="fa-solid fa-xmark"></i>
</button>

<form class="form-emprendimiento" [formGroup]="formEmprendimiento">
  <div class="form-layout">
    <div class="form-fields-left">
      <!-- Nombre -->
      <div class="form-field">
        <label class="form-label">Nombre del Emprendimiento</label>
        <input
          formControlName="nombreEmprendimiento"
          type="text"
          class="form-input"
          placeholder="Ej: La Cocina de Ana"
        />

        @if (formEmprendimiento.get('nombreEmprendimiento')?.invalid &&
        formEmprendimiento.get('nombreEmprendimiento')?.touched) {

        <div class="error-messages">
          @if (formEmprendimiento.get('nombreEmprendimiento')?.hasError('required')) {
          <p>El nombre es obligatorio.</p>
          } @if (formEmprendimiento.get('nombreEmprendimiento')?.hasError('maxlength')) {
          <p>Máximo 255 caracteres.</p>
          }
        </div>
        }
      </div>

      <!-- Ciudad -->
      <div class="form-field">
        <label class="form-label">Ciudad</label>

        <select 
          formControlName="ciudad" 
          class="form-input"
          [class.placeholder.text]="formEmprendimiento.get('ciudad')?.value === null"
        >
          <option value="" disabled>Seleccione una ciudad</option>

          @for (city of CITIES; track city) {
          <option [value]="city">{{ city }}</option>
          }
        </select>

        @if (formEmprendimiento.get('ciudad')?.invalid && formEmprendimiento.get('ciudad')?.touched)
        {
        <div class="error-messages">
          <p>La ciudad es obligatoria.</p>
        </div>
        }
      </div>

      <!-- Dirección -->
      <div class="form-field">
        <label class="form-label">Dirección</label>
        <input formControlName="direccion" type="text" class="form-input" placeholder="Opcional" />
      </div>

      <!-- Teléfono -->
      <div class="form-field">
        <label class="form-label">Teléfono</label>
        <input
          formControlName="telefono"
          type="text"
          class="form-input"
          placeholder="Ej: 1123456789"
        />

        @if (formEmprendimiento.get('telefono')?.invalid &&
        formEmprendimiento.get('telefono')?.touched) {

        <div class="error-messages">
          <p>Debe tener entre 7 y 15 números.</p>
        </div>
        }
      </div>
    </div>

    <!-- Imagen, borrar -->
    <div class="image-upload-delete-right">

      <!-- Imagen actual mostrada solo si NO hay nueva imagen cargada -->
      @if (emprendimiento.imagenUrl && !imagePreviewUrl) {
      <div class="current-image-section">
        <label class="form-label">Imagen actual</label>
        <img [src]="emprendimiento.imagenUrl" alt="Imagen actual" class="current-image" />
      </div>
      }

      <div class="form-field custom-file-field">
        <input
          type="file"
          id="imagen-file"
          #fileInput
          (change)="onFileSelected($event); onFileInputReady(fileInput)"
          class="form-file-input"
          accept="image/jpeg, image/png, image/webp"
        />

        <label for="imagen-file" class="upload-box-visual" [class.has-preview]="!!imagePreviewUrl">
          @if (imagePreviewUrl) {

          <div
            class="image-preview"
            [style.background-image]="'url(' + imagePreviewUrl + ')'"
          ></div>

          <button
            type="button"
            class="btn-remove-image"
            (click)="removeImage(); $event.preventDefault()"
          >
            <i class="fa-solid fa-trash"></i>
          </button>

          } @else {

          <span class="upload-icon">⤒</span>
          <br />
          <span class="upload-text">Cargar nueva imagen</span>

          }
        </label>

        <div class="image-placeholder-message">
          @if (!imagePreviewUrl) {
          <p class="placeholder-info">No se seleccionó una nueva imagen.</p>
          } @else {
          <p class="success-message">Archivo cargado: {{ selectedFileName }}</p>
          }
        </div>
      </div>

      <button class="btn btn-eliminar" (click)="onDelete()">Eliminar Emprendimiento</button>
    </div>
  </div>

  <button
    type="button"
    class="btn btn-crear"
    (click)="onSubmit()"
    [disabled]="formEmprendimiento.invalid"
  >
    Actualizar Emprendimiento
  </button>
</form>
