select {
    background-color: inherit;
    border: 1px solid color-mix(in srgb, var(--bg-color) 75%, black);
    border-radius: 0.8rem;
    font-family: inherit;
    font-size: 1.4rem;
    margin: 0;
    min-width: 16rem;
    padding: 0.75rem 1rem;
    text-transform: uppercase;
}
