.select-custom {
  position: relative;
  width: 20rem;
  padding: 1rem 1.4rem;
  border: 1px solid var(--input-border);
  border-radius: 1rem;
  background: white;
  cursor: pointer;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
  transition: 0.15s ease;
  color: var(--input-text);
}

/* Hover */
.select-custom:hover {
  border-color: #fe9039;
  background: color-mix(in srgb, #fe9039 7%, white);
}

.arrow {
  font-size: 1.3rem;
  color: var(--input-text);
  transition: 0.2s ease;
}

.select-custom:hover .arrow {
  color: #fe9039;
}

/* Dropdown */
.options {
  position: absolute;
  top: 100%; /* <--- ahora queda pegado */
  left: 0;
  width: 100%;
  background: white;
  border-radius: 1rem;
  padding: 0.6rem 0;
  margin: 0;
  list-style: none;
  z-index: 20;
  border: 1px solid var(--input-border);
  box-shadow: 0 0.5rem 1.4rem rgba(0, 0, 0, 0.15);
  overflow: hidden;
}

.options li {
  padding: 0.9rem 1.4rem;
  cursor: pointer;
  transition: 0.15s ease;
  color: var(--input-text);
}

.options li:hover {
  background: color-mix(in srgb, #fe9039 25%, white);
}

.options li.selected {
  background: color-mix(in srgb, #fe9039 40%, white);
  color: black;
}
