.form-registro {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
  padding: 2rem;
  width: 100%;
  margin: 5rem auto;
  background: var(--form-bg);
  border-radius: 1rem;
  box-shadow: var(--form-shadow);
}

.form-registro div {
  width: 100%;
}

:host .checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 0.8rem;
  font-size: 1.4rem;
}

:host .checkbox-container label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: wrap;
  cursor: pointer;
  transition: color 0.2s ease, text-decoration 0.2s ease;
}

:host .checkbox-container label:has(input[type='checkbox']:checked) {
  color: var(--line-trough-color);
  text-decoration: line-through;
}

:host .checkbox-container label:has(input[type='checkbox']:checked) a {
  pointer-events: none;
  text-decoration: line-through;
  cursor: default;
}

.checkbox-container a {
  color: var(--link-color);
  text-decoration: none;
  font-weight: bold;
}

.checkbox-container a:hover {
  text-decoration: underline;
}

.form-registro .btn {
  width: 30%;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem 0;
  margin-top: 1.5rem;
}
