mat-dialog-actions .btn {
  padding: 1rem 3rem; 
  font-size: 1.6rem;
  margin: 0;
}

mat-icon {
  color: var(--error-color);
}

mat-dialog-content p {
  font-size: 1.4rem;
  color: var(--input-text);
}
