
@if (emprendimiento(); as datosEmprendimiento) {

    <app-emprendimiento-info
        [datos]="datosEmprendimiento"
        [modo]="esDueno() ? 'dueno' : 'cliente'"
        (accionPrincipal)="esDueno() ? abrirModalEditarEmprendimiento() : abrirModalCarrito()">
    </app-emprendimiento-info>

    <app-emprendimiento-filtros-viandas
        [viandasIniciales]="viandasTotales()"
        (filtrosChanged)="onFiltrosChanged($event)">>
    </app-emprendimiento-filtros-viandas>

    <div class="viandas-detalladas-grid">
        @for (vianda of viandas(); track vianda.id) {
        <app-vianda-card-detallada>
        </app-vianda-card-detallada>
        }
    </div>

} @else {
    <p>Cargando...</p>      <!-- AGREGAR esqueleto de carga? o mensaje de "no hay emprendimientos?" -->
}