.admin-homepage-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  height: 100%;
  margin: 2rem 0;
}

.button-row {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.page-button {
  align-items: center;
  background-color: color-mix(in srgb, var(--color-background-primary) 95%, var(--color-background-inverse));
  border: 2px solid color-mix(in srgb, var(--color-background-primary) 90%, var(--color-background-inverse));
  color: var(--color-text-primary);
  display: flex;
  flex-direction: column;
  font-size: 3rem;
  gap: 1rem;
  justify-content: center;
  min-height: 20rem;
  min-width: 30rem;
  transition-duration: 0.2s;
}

.page-button:focus-within, .page-button:hover {
  filter: brightness(0.95);
}

.page-button:active {
  filter: brightness(0.90);
  transition: none;
}

.page-button i {
  color: var(--color-primary);
  font-size: 4rem;
}
