/* --- PAGINA SOBRE NOSOTROS --- */
.info-page-container {
  gap: 2rem;
}

p {
  font-size: 2rem;
  font-weight: 400;
  margin: 0.5rem;
}

.sobre-nosotros-card {
  align-items: center;
  background-color: var(--color-background-secondary);
  border: 0.1rem solid var(--color-border-light);
  border-radius: 3rem;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
  min-height: 16rem;
  padding: 3rem;
  width: 86rem;
}

.sobre-nosotros-card-icon-container {
  align-items: center;
  justify-content: center;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  border: 0.1rem solid var(--color-border-light);
  display: flex;
  flex-shrink: 0;
}

.sobre-nosotros-card-icon-container i {
  font-size: 4rem;
}

.sobre-nosotros-card-text-container {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.sobre-nosotros-card-text-container h3 {
  font-size: 3rem;
  font-style: italic;
  line-height: normal;
  margin: 0;
  margin-bottom: 0rem;
}

.sobre-nosotros-card-text-container p {
  font-size: 1.6rem;
  line-height: 1.6rem;
}

.conclusion {
  font-size: 3rem;
  margin: 3rem;
}