.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  margin: 5rem auto;
  padding: 2rem;
  background-color: var(--form-bg);
  background: var(--form-bg);
  border-radius: 1rem;
  box-shadow: var(--form-shadow);
}

.main-container h1 {
  margin: 0;
  font-size: 3rem;
  color: #10C711;
}

.main-container i {
  margin: 2rem auto;
  color: #10C711;
  font-size: 15rem;
}

.btn-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.btn-container button {
  padding: 1.5rem;
  min-width: 15rem;
  font-size: 2rem;
  font-weight: light;
  margin-top: 2rem;
}
